<html>
<head>
	<title>
		Loggin
	</title>
	<style>
		body{
			background-color: lightblue;
		}
		h2 {
    		color: blue;
		 	margin: auto;
		    width: 65px;
		    padding: 10px;
		}
		.container {
			margin: auto;
		    width: 180px;
		    border: 1px solid white;
		    padding: 10px;
		}
	</style>
</head>
<body>
	<h2>
		Login
	</h2>
  	<div class="container">
    	<label>
    		<b>
    			Username
    		</b>
    	</label>
    	<input type="text" placeholder="Enter Username" name="uname"></input>
    	<label>
    		<b>
    			Password
    		</b>
    	</label>
    	<input type="password" placeholder="Enter Password" name="psw"></input>
    	<button type="submit">Login</button>
  	</div>
</body>
</html>